@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500&subset=cyrillic');

body {
    font-family: Oswald;
    max-width: 299px;
    margin: 0 auto;
}

nav {
    display: none;
}

.social-networks {
    display: none;
}

.nata {
    margin-bottom: 24px;
}

header {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
}

header img {
    max-width: 30px;
    min-height: 20px;
}

header h1,
h3 {
    margin: 0;
}

header h3 {
    font-size: 10px;
    color: lightgrey;
}

header h1 {
    max-width: 110px;
}

video-intro {
    /*
    display: flex;
    justify-content: center;
*/
    margin-left: 30px;
}

.container {
    margin-top: 15px;
    text-align: center;
    margin: 0 auto;
}
.portofolio{
    display: block;
    width: 275px;
    height: 275px;
}

.container hr {
    max-width: 30px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}

blockquote {
    background: #f7f7f7;
    border-left: 1px solid #bbb;
    font-style: italic;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: #bbb;
    content: "\201C";
    /* Непечатаемый символ слева */
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -.4em;
}

blockquote:after {
    color: #bbb;
    content: "\201D";
    /* Непечатаемый символ справа */
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -.45em;
}

blockquote > p: first-child {
    display: inline;
}

fieldset,
label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
}

/****** Style Star Rating Widget *****/

fieldset,
label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
}



/*

@media (min-width: 300px){
    body {
        margin: auto;
        max-width: 970px;
    }
    .container {
		margin: 0 auto;
		max-width: 970px;
	}
    .lanova {
        display: none;
    }
    #logo {
        display: inline-block;
        justify-content: center;
    }
    .burger-menu {
        display: none;
    }
    nav {
        display: block;
        width: 100%;
    }  
    .menu {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    header li{
*/

}

}
